In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
data=pd.read_csv('loan.2023.csv')
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [3]:
data.tail()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
362,LP002971,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.0,Urban
363,LP002975,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.0,Urban
364,LP002980,Male,No,0,Graduate,No,3250,1993,126.0,360.0,NaN,Semiurban
365,LP002986,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.0,Rural
366,LP002989,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.0,Rural

In [4]:
data.shape

(367, 12)

In [5]:
import numpy as num
from sklearn.model_selection import train_test_split
x,y= num.arange(10).reshape((5,2)),range(5)

In [6]:
x

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3,random_state=5)

# Testing Model With Multiple Evaluation Metrics

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    367 non-null    int64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 34.5+ KB

In [9]:
# checking for missing values
data.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [9]:
# statistical measures about the data
data.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,367.000000,367.000000,362.000000,361.000000,338.000000
mean,4805.599455,1569.577657,136.132597,342.537396,0.825444
std,4910.685399,2334.232099,61.366652,65.156643,0.380150
min,0.000000,0.000000,28.000000,6.000000,0.000000
25%,2864.000000,0.000000,100.250000,360.000000,1.000000
50%,3786.000000,1025.000000,125.000000,360.000000,1.000000
75%,5060.000000,2430.500000,158.000000,360.000000,1.000000
max,72529.000000,24000.000000,550.000000,480.000000,1.000000

In [57]:
# checking the distribution of Target Variable
data['LoanAmount'].value_counts()

150.0    12
125.0    11
110.0    10
100.0     9
90.0      9
         ..
71.0      1
157.0     1
93.0      1
61.0      1
98.0      1
Name: LoanAmount, Length: 144, dtype: int64

In [58]:
X = data.drop(columns='LoanAmount', axis=1)
Y = data['LoanAmount']

In [59]:
print(X)

      Loan_ID Gender Married Dependents     Education Self_Employed  \
0    LP001015   Male     Yes          0      Graduate            No
1    LP001022   Male     Yes          1      Graduate            No
2    LP001031   Male     Yes          2      Graduate            No
3    LP001035   Male     Yes          2      Graduate            No
4    LP001051   Male      No          0  Not Graduate            No
..        ...    ...     ...        ...           ...           ...
362  LP002971   Male     Yes         3+  Not Graduate           Yes
363  LP002975   Male     Yes          0      Graduate            No
364  LP002980   Male      No          0      Graduate            No
365  LP002986   Male     Yes          0      Graduate            No
366  LP002989   Male      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  Loan_Amount_Term  Credit_History  \
0               5720                  0             360.0             1.0
1               3076               1500             360.0             1.0
2               5000               1800             360.0             1.0
3               2340               2546             360.0             NaN
4               3276                  0             360.0             1.0
..               ...                ...               ...             ...
362             4009               1777             360.0             1.0
363             4158                709             360.0             1.0
364             3250               1993             360.0             NaN
365             5000               2393             360.0             1.0
366             9200                  0             180.0             1.0

    Property_Area
0           Urban
1           Urban
2           Urban
3           Urban
4           Urban
..            ...
362         Urban
363         Urban
364     Semiurban
365         Rural
366         Rural

[367 rows x 11 columns]

In [60]:
print(Y)

0      110.0
1      126.0
2      208.0
3      100.0
4       78.0
       ...
362    113.0
363    115.0
364    126.0
365    158.0
366     98.0
Name: LoanAmount, Length: 367, dtype: float64

In [32]:
import numpy

In [61]:
ar=np.array([1,2,3,4,np.nan,5,np.nan,6,np.inf]).reshape((3,3))
print(ar)

[[ 1.  2.  3.]
 [ 4. nan  5.]
 [nan  6. inf]]

In [62]:
numpy.isnan(ar) # True wherever nan
numpy.isposinf(ar) # True wherever pos.inf
numpy.isneginf(ar) # True wherever neg-inf
numpy.isinf(ar) # True wherever pos-inf or neg-inf
numpy.isfinite(ar) #Trure wherever pos-inf or neg-inf or nan

array([[ True,  True,  True],
       [ True, False,  True],
       [False,  True, False]])

In [67]:
import numpy as num
from sklearn.model_selection import train_test_split
x,y= num.arange(10).reshape((5,2)),range(5)

In [68]:
x

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [69]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3,random_state=5)

In [65]:
model = LogisticRegression(max_iter=1000)

In [73]:
# training the LogisticRegression model with Training data
model.fit(x_train, y_train)

LogisticRegression(max_iter=1000)

# Accuracy Score

In [74]:
from sklearn.metrics import accuracy_score

In [76]:
# accuracy on training data
x_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(y_train, x_train_prediction)
print(training_data_accuracy)

1.0

In [77]:
print('Accuracy on Training data : ', round(training_data_accuracy*100, 2), '%')

Accuracy on Training data :  100.0 %

In [78]:
# accuracy on test data
x_test_prediction = model.predict(x_test)
test_data_accuracy = accuracy_score(y_test, x_test_prediction)
print(test_data_accuracy)

0.0

In [79]:
print('Accuracy on Test data : ', round(test_data_accuracy*100, 2), '%')

Accuracy on Test data :  0.0 %

# Precision

In [87]:
# Precision is the ratio of number of True Positive to the total number of Predicted Positive. It measures, out of the total predicted positive, how many are actually positive.

In [88]:
from sklearn.metrics import precision_score

In [101]:
print("Precision Score : ",precision_score(y_test, y_pred, 
                                           pos_label='positive'
                                           Average='micro'))

SyntaxError: invalid syntax (1482562452.py, line 3)

In [102]:
# precision for training data predictions
precision_train = precision_score(y_train, x_train_prediction)
print('Training data Precision =', precision_train)

ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].

# recell

In [103]:
from sklearn.metrics import recall_score

In [106]:
# recall for training data predictions
recall_train = recall_score(y_train, x_train_prediction)
print('Training data Recall =', recall_train)

ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].

# precision,recall,& f1 -score

In [10]:
from sklearn.metrics import accurcy_score,classification_report,confusion_matrix,f1_score

ImportError: cannot import name 'accurcy_score' from 'sklearn.metrics' (F:\anaconda3\lib\site-packages\sklearn\metrics\__init__.py)

In [109]:
def precision_recall_f1_score(true_labels, pred_labels):

  precision_value = precision_score(true_labels, pred_labels)
  recall_value = recall_score(true_labels, pred_labels)
  f1_score_value = f1_score(true_labels, pred_labels)

  print('Precision =',precision_value)
  print('Recall =',recall_value)
  print('F1 Score =',f1_score_value)

In [112]:
# classification metrics for training data
loan_recall_f1_score(y_train, x_train_prediction)

NameError: name 'loan_recall_f1_score' is not defined

# Compare The Model

In [113]:
def comparemodel(x_train,x_test,y_train,y_test):
    DecisionTree(x_train,x_test,y_train,y_test)
    print('_'*100)
    RandomForest(x_train,x_test,y_train,y_test)
    print('_'*100)
    XGB(x_train,x_test,y_train,y_test)
    print('_'*100)
    KNN(x_train,x_test,y_train,y_test)
    print('_'*100)

In [114]:
comparemodel(x_train,x_test,y_train,y_test)

NameError: name 'DecisionTree' is not defined

# Comparing Model Accuracy Before & After Applying Hyperparameter Tuning